<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>

</head>

<body>
    <h1>Chavaughn Wilkins</h1>
    <p>So basically I am a finalizing Computer Science student.</p>
    <p>However I play League of Legends and I am a Kayn main and I always get trolled</p>
    <img src="/res/Kayn.png" />
    <p>Due to me always being trolled I started to play unfair champions (which I also enjoy) such as the true damage boss Sett</p>
    <img src="/res/Sett.png" />
</body>

</html>